src/flows/linegraph.json
[
    {
        "id": "760ec0a6.39858",
        "type": "tab",
        "label": "Line Graph",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55d54144.5373f",
        "type": "switch",
        "z": "760ec0a6.39858",
        "name": "",
        "property": "payload.truncated",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "bacc0559.61ec88"
            ],
            [
                "844446fa.ba1438"
            ]
        ]
    },
    {
        "id": "43971364.0126cc",
        "type": "debug",
        "z": "760ec0a6.39858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "bacc0559.61ec88",
        "type": "change",
        "z": "760ec0a6.39858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.extended_tweet.full_text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "fba34d7d.1c387"
            ]
        ]
    },
    {
        "id": "844446fa.ba1438",
        "type": "change",
        "z": "760ec0a6.39858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "fba34d7d.1c387"
            ]
        ]
    },
    {
        "id": "f43b1595.725788",
        "type": "debug",
        "z": "760ec0a6.39858",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "sentiment.score",
        "targetType": "msg",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "aba277b8.0e9738",
        "type": "change",
        "z": "760ec0a6.39858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "d7571943.ab3ba8"
            ]
        ]
    },
    {
        "id": "906067a0.61f448",
        "type": "delay",
        "z": "760ec0a6.39858",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "2b2a6d7d.e41422"
            ]
        ]
    },
    {
        "id": "5eda8cca.d227b4",
        "type": "change",
        "z": "760ec0a6.39858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sentiment.score",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "AverageOver100Tweets",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 460,
        "wires": [
            [
                "906067a0.61f448"
            ]
        ]
    },
    {
        "id": "55fcb137.367da",
        "type": "change",
        "z": "760ec0a6.39858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sentiment.score",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "AverageOver1000Tweets",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "7980cce5.d46864"
            ]
        ]
    },
    {
        "id": "7980cce5.d46864",
        "type": "delay",
        "z": "760ec0a6.39858",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "2b2a6d7d.e41422"
            ]
        ]
    },
    {
        "id": "b27f873c.555a08",
        "type": "delay",
        "z": "760ec0a6.39858",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "2b2a6d7d.e41422"
            ]
        ]
    },
    {
        "id": "dd44842d.9a0fb8",
        "type": "change",
        "z": "760ec0a6.39858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sentiment.score",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "AverageOver20Tweets",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 340,
        "wires": [
            [
                "b27f873c.555a08"
            ]
        ]
    },
    {
        "id": "91dd1767.478038",
        "type": "Twitter Stream",
        "z": "760ec0a6.39858",
        "connection": "c3991ca.b336fe",
        "follow": "",
        "topics": "covid19, coronavirus, covid19, covid_19",
        "tweetLimit": "0",
        "onlyVerified": false,
        "topicRetweets": false,
        "loadMedia": false,
        "topicLanguage": "en",
        "debug": false,
        "name": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "5655f27c.714d4c",
                "55d54144.5373f",
                "43971364.0126cc",
                "26e96640.b0415a"
            ]
        ]
    },
    {
        "id": "5655f27c.714d4c",
        "type": "counter",
        "z": "760ec0a6.39858",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "aba277b8.0e9738"
            ]
        ]
    },
    {
        "id": "148aa972.538e07",
        "type": "smooth",
        "z": "760ec0a6.39858",
        "name": "",
        "property": "sentiment.score",
        "action": "mean",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "5eda8cca.d227b4"
            ]
        ]
    },
    {
        "id": "1fab2abb.c8f685",
        "type": "smooth",
        "z": "760ec0a6.39858",
        "name": "",
        "property": "sentiment.score",
        "action": "mean",
        "count": "1000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 580,
        "wires": [
            [
                "55fcb137.367da"
            ]
        ]
    },
    {
        "id": "5a83a8a3.e9da48",
        "type": "smooth",
        "z": "760ec0a6.39858",
        "name": "",
        "property": "sentiment.score",
        "action": "mean",
        "count": "20",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "dd44842d.9a0fb8"
            ]
        ]
    },
    {
        "id": "fba34d7d.1c387",
        "type": "sentiment",
        "z": "760ec0a6.39858",
        "name": "",
        "property": "payload",
        "x": 740,
        "y": 280,
        "wires": [
            [
                "f43b1595.725788",
                "148aa972.538e07",
                "1fab2abb.c8f685",
                "5a83a8a3.e9da48"
            ]
        ]
    },
    {
        "id": "d7571943.ab3ba8",
        "type": "ui_text",
        "z": "760ec0a6.39858",
        "group": "2bb34432.3491ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Received",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "2b2a6d7d.e41422",
        "type": "ui_chart",
        "z": "760ec0a6.39858",
        "name": "",
        "group": "a04a59c9.f66828",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sentiment",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Data",
        "dot": true,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#d62728",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1440,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "26e96640.b0415a",
        "type": "link out",
        "z": "760ec0a6.39858",
        "name": "streamer",
        "links": [],
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "c3991ca.b336fe",
        "type": "twitter-api-connection",
        "z": "",
        "consumerKey": "QglOg2PQfVkb8dxsF9JoB28CE",
        "consumerSecret": "1LtBXXilyHxGbRrOfFhuK0UEeKbLtuemG1HnGv6K9kn0Ufiv3X",
        "accessToken": "1271463273309724674-gm4XAwlhwOfPXg4r1CtvVJqwEHL8hW",
        "accessSecret": "Esj53kEH0NOzinPI2taZ1GjwRRSO85Fuk7CFwYAD3WDXg"
    },
    {
        "id": "2bb34432.3491ac",
        "type": "ui_group",
        "z": "",
        "name": "Total Received",
        "tab": "6f3266f8.8dae98",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "a04a59c9.f66828",
        "type": "ui_group",
        "z": "",
        "name": "Line Graph",
        "tab": "6f3266f8.8dae98",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "6f3266f8.8dae98",
        "type": "ui_tab",
        "z": "",
        "name": "COVID-19 Global  Line Graph",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]